.page {
  width: 100%;
  margin: auto;
  background-color: #2a2c2f;
  color: #fff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .page {
    padding: 5px;
  }

  .places {
    max-width: 720px;
    gap: 72px;
  }

  .places__content {
    /* grid-template-rows: 90px 1fr repeat(2, 50px); */
  }

  .places__header {
    font-size: 42px;
    line-height: 46px;
    padding-top: 12%;
  }

  .places__header_screen_m {
    padding: 0;
  }

  .places__image-item {
    max-width: 340px;
    max-height: 340px;
  }

  .places__button {
    /* grid-column: 1 / 4;
    grid-row: 4; */
    font-size: 14px;
  }

  .places__link {
    padding: 10px;
  }

  .places__description {
    max-width: 352px;
    font-size: 12px;
    /* grid-column: span 3;
    grid-row: 2 / 5; */
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .page {
    padding: 5px;
  }
}
